.rotated-box {
  position: relative;
  background: var(--flatify__bg-color-dark);
  border-radius: 4em;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--flatify__color-accent-primary);
    border-radius: inherit;
    transform: rotate(-8deg);
  }

  &:not(.rotate-content) {
    &:after {
      display: none;
    }
  }

  &.rotate-content {
    transform: rotate(-2deg);
    background: transparent;

    &:before {
      z-index: -1;
      background: var(--flatify__bg-color-dark);
      transform: rotate(2deg) scale(1.05, 0.9) translateY(1.75em);
    }

    &:after {
      z-index: -1;
      transform: none;
    }

    .nightmode &:after {
      filter: brightness(85%);
    }
  }
}
