.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 25em;
  padding: var(--vajehh__area-padding);

  @media (min-width: 576px) and (max-width: 767px) {
    font-size: 0.85em;
  }

  @media (max-width: 575px) {
    flex-direction: column;

    .header-image {
      position: absolute;
      top: -1em;

      .rotated-box {
        width: 100%;
        height: 45em;
        border-radius: 0 0 4em 4em;

        &:before {
          background: #9edefb !important;
        }
      }
    }

    .header-info,
    .header-image {
      width: 100%;
    }

    .header-info {
      font-size: 0.9em;
      text-align: center;

      .title,
      .search-bar {
        max-width: none;
      }

      .title,
      .subtitle {
        color: #2e4051 !important;
      }

      .title {
        margin-top: 0.5em;
      }

      .subtitle {
        font-weight: 400;
      }
    }

    .header-image {
      z-index: 2;
      font-size: 0.75em;
      padding-top: 1em;

      .rotated-box:before,
      .animated-letters {
        transform: none !important;
      }

      .main-image {
        display: none;
      }
    }
  }
}

.header-info {
  position: relative;
  z-index: 3;
  width: 50%;

  .title {
    font-size: 3.5em;
    font-weight: 1000;
    line-height: 1.45;
    max-width: 8em;
    margin-bottom: 0.25em;
  }

  .subtitle {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 1.5em;
    opacity: 0.7;
  }

  .search-bar {
    font-size: 1.125em;
    max-width: 25em;

    input:focus {
      background: var(--flatify__bg-color);
    }

    .search-button {
      background: transparent;
    }
  }
}

@keyframes vajehh-rotated-box-in {
  0% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0);
  }
}


.header-image {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  min-width: 50%;
  animation: vajehh-rotated-box-in cubic-bezier(.17,.67,.13,1.47) 0.3s 1s both;

  .rotated-box {
    width: 30em;
    height: 25em;

    .animated-letters {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 4em;
      transform: rotate(-8deg);
      animation: vajehh-rotated-box-bg-in ease 0.3s;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        width: 100%;
        background: var(--vajehh__image-letters-pattern);
        background-size: 50%;

        @media (prefers-reduced-motion: no-preference) {
          animation: vajehh-playful-letters 120s linear infinite;
        }
      }
    }
  }

  .main-image {
    position: absolute;
    left: -0.45em;
    bottom: -0.64em;
    z-index: 2;
    width: 22em;
    transform: rotate(-8deg);
  }
}

@keyframes vajehh-playful-letters {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 500% 100%;
  }
  75% {
    background-position: -500% -100%;
  }
  100% {
    background-position: 0;
  }
}
