@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/Vazir/Vazir-Variable.woff2") format("woff2 supports variations"),
    url("./assets/fonts/Vazir/Vazir-Variable.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-stretch: 100%;
}

// configs
:root {
  --flatify__heading-font-family: "Vazir", Tahoma, sans-serif;
  --flatify__primary-font-family: "Vazir", Tahoma, sans-serif;
}

@import "./styles/night";
@import "./styles/utils";
@import "./styles/rotated-box";
@import "./styles/variables";
