@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/Vazir/Vazir-Variable.woff2") format("woff2 supports variations"),
    url("./assets/fonts/Vazir/Vazir-Variable.woff2") format("woff2-variations"),
    url("./assets/fonts/Vazir/Vazir-Variable.woff2") format("woff2");
  font-weight: 100 1000;
  font-stretch: 100%;
  font-display: swap;
}

@supports not (font-variation-settings: normal) {
  // Fallback for Vazir variable font
  // It will be used when the browser doesn't support the [font-variation-settings] property,
  // which is the benchmark to check if browsers support variable fonts.
  @font-face {
    font-family: Vazir;
    font-weight: normal;
    src: url("./assets/fonts/Vazir/Vazir-Regular.eot");
    src: url("./assets/fonts/Vazir/Vazir-Regular.woff2") format("woff2"),
      url("./assets/fonts/Vazir/Vazir-Regular.woff") format("woff"),
      url("./assets/fonts/Vazir/Vazir-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: Vazir;
    font-weight: bold;
    src: url("./assets/fonts/Vazir/Vazir-Bold.eot");
    src: url("./assets/fonts/Vazir/Vazir-Bold.woff2") format("woff2"),
      url("./assets/fonts/Vazir/Vazir-Bold.woff") format("woff"),
      url("./assets/fonts/Vazir/Vazir-Bold.ttf") format("truetype");
  }
}

// configs
:root {
  --flatify__heading-font-family: "Vazir", "Vazirmatn", vazir, Roboto, sans-serif;
  --flatify__primary-font-family: "Vazir", "Vazirmatn", vazir, Roboto, sans-serif;
  scroll-behavior: auto;
}

body {
  overflow-x: hidden;
}

.app {
  position: relative;
}

// General
@import "./styles/night";
@import "./styles/utils";
@import "./styles/variables";

// Reusable
@import "./styles/call-to-action";
@import "./styles/halftone";
