@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/Vazir/Vazir-Variable.woff2") format("woff2 supports variations"),
    url("./assets/fonts/Vazir/Vazir-Variable.woff2") format("woff2-variations");
  src: url("./assets/fonts/Vazir/Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Vazir/Vazir-Regular.woff") format("woff"),
    url("./assets/fonts/Vazir/Vazir-Regular.ttf") format("truetype");
  font-weight: 100 1000;
  font-stretch: 100%;
}

@import "./config";
