.chat-main {
  min-height: 75vh;
  padding-bottom: 6em;

  .intro {
    margin-top: 4em;
    text-align: center;

    .title {
      font-size: max(3em, 5vw);
      margin-bottom: 0.32em;
    }

    .intro-text {
      font-size: 0.95em;
      margin-top: 1em;
      margin-bottom: 2em;
      opacity: 0.75;

      p {
        margin: 0;
      }
    }

    @media (max-width: 575px) {
      .extra-info {
        display: none;
      }
    }
  }
}
