.article-area {
  min-height: 90vh;
  padding: 3em 1.25em;

  @media (max-width: 575px) {
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    h1 {
      font-size: 3em;
    }
  }

  h2 {
    font-size: 2.35em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.75em;
  }
  h5 {
    font-size: 1.5em;
  }
  h6 {
    font-size: 1.25em;
  }

  p {
    line-height: 1.9;
  }

  blockquote {
    margin: 1.5em 0;

    &:before {
      display: none;
    }
  }

  ul,
  ol {
    list-style: square;
    margin: 1.5em 0;

    li {
      line-height: 1.7;
      margin-bottom: 0.64em;

      li {
        list-style-type: disc;
      }
    }
  }

  .exotic {
    display: inline-block;
    transform: rotate(180deg);

    &:hover {
      animation: flatify-fade-out 4s ease-in-out both;
    }
  }

  .detail-box {
    font-size: 0.9em;
    padding: 0.75em;
    margin: 0.75em 0;
    background: var(--flatify__bg-color-dark);
    border: 0.18em solid var(--flatify__bg-color-darker);
    border-radius: 1em;

    &[open] {
      summary::marker {
        content: "💥 ";
        margin: 0.5em;
      }
    }

    summary {
      &::marker {
        content: "💡 ";
      }

      & + * {
        margin-top: 1em;
      }
    }
  }

  .tutorial-icon {
    width: 1.25em;
    height: 1.25em;
    margin: 0 0.32em;
    fill: currentColor;
  }

  .rotate-90 {
    transform: rotate(90deg);
  }
}
