.footer-fireflies {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40em;
  overflow: hidden;

  .right {
    bottom: -3em;
    right: -5%;
    font-size: 4em;
    transform: rotate(10deg);
    opacity: 0.35;
    --vajehh__firefly-delay: 3s;
  }

  .center {
    bottom: -3em;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 6em;
    transform: rotate(-10deg);
    opacity: 0.5;
    --vajehh__firefly-color: #ffe749;
    --vajehh__firefly-delay: 4s;
  }

  .left {
    bottom: -4em;
    left: -10%;
    font-size: 4em;
    opacity:0.5;
    --vajehh__firefly-color: #ff6694;
    --vajehh__firefly-delay: 6s;
  }
}
