.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  padding: 0 1.5em;
  margin-bottom: 1em;

  @media (max-width: 575px) {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

  .home-link {
    font-size: 1.5em;
    font-weight: 1000;
    text-decoration: none !important;
    margin-right: 0.32em;
    color: var(--flatify__txt-color);

    &.active:focus {
      animation: flatify-hue 25s infinite !important;
    }
  }

  .toggle-nightmode {
    svg {
      width: 1.5em;
      height: 1.75em;
    }
  }
}

.navigation-links {
  display: flex;
  list-style: none;
  gap: 1em;
  height: 100%;
  margin-bottom: 0;

  @media (max-width: 767px) {
    &.desktop {
      display: none;
    }
  }

  li,
  .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav-link {
    position: relative;
    text-decoration: none !important;
    padding: 1em;
    color: var(--flatify__txt-color) !important;
    outline: none;
    transition: all var(--flatify__simple-transition);

    &:not(.active) {
      opacity: 0.6;
    }

    &.active {
      color: var(--flatify__color-accent-primary) !important;

      &:before {
        background: var(--flatify__color-accent-primary);
        transform: scale(1) !important;
      }
    }

    &:hover,
    &:focus-visible {
      opacity: 1;

      &:before {
        transform: scale(1) scaleX(0.85);
      }
    }

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.4em;
      background: var(--flatify__bg-color-darker);
      border-radius: 0 0 1em 1em;
      transform-origin: top center;
      transform: scaleY(0);
      transition: all var(--flatify__simple-transition);
    }

    .nav-icon {
      width: 0.75em;
      height: 0.75em;
      margin-right: 0.32em;
      fill: currentColor;
    }
  }
}

.navigation-buttons {
  display: flex;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
  }
}

.mobile-navigation-dropdown {
  @media (min-width: 768px) {
    display: none;
  }
  .dropdown {
    padding: 0;
  }

  .navigation-links.mobile {
    padding: 1em 0;
    flex-direction: column;
    gap: 0.5em;
  }

  .nav-link {
    padding: 0.64em 1em;

    &:before {
      left: unset;
      right: 0;
      height: 100%;
      width: 0.4em;
      border-radius: 1em 0 0 1em;
      transform-origin: right center;
      transform: scaleX(0) scaleY(0.85);
    }

    &:hover,
    &:focus-visible {
      &:before {
        transform: scaleX(1) scaleY(0.85);
      }
    }
  }
}
