#main-search-bar {
  --flatify__border-width: 0.15em;
  font-size: 1.25em;
  margin-top: 2em;

  input:focus {
    background: var(--flatify__bg-color);
  }

  .close-button,
  .search-button {
    background: transparent;
  }

  .close-button {
    position: absolute;
    right: 0.75em;
    font-size: 0.75em;
    transform: scale(0) !important;
    transition: var(--flatify__simple-transition);
  }

  .has-value {
    .text-input {
      padding-right: 2.9em;
    }

    .close-button {
      transform: scale(1) !important;
    }
  }
}

.search-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 575px) {
    font-size: 0.9em;
  }

  .search-settings-left {
    display: flex;
  }
}

@media (max-width: 767px) {
  .settings-options,
  .dictionary-picker {
    .dropdown {
      margin-top: -0.25em;
    }
  }
}
