.definition-box {
  position: relative;
  padding: 1em;
  margin: 1em 0;
  border: 0.18em solid var(--flatify__bg-color-dark);
  border-radius: 1em;

  &:focus-within {
    background: var(--flatify__bg-color-dark);

    .limited:after {
      background: linear-gradient(to top, var(--flatify__bg-color-dark) 10%, transparent);
    }
  }

  &:before,
  &:after {
    content: " ";
    position: absolute;
  }

  &:before {
    top: 0.25em;
    right: -1em;
    z-index: 2;
    width: 3.45em;
    height: 1em;
    background: var(--flatify__bg-color);
    transform: rotate(45deg);
    filter: drop-shadow(0 0.15em 0 var(--flatify__bg-color-dark));
  }

  &:after {
    top: -0.25em;
    right: -0.25em;
    width: 0;
    height: 0;
    border-right: 2.5em solid var(--flatify__bg-color);
    border-bottom: 2.5em solid var(--flatify__bg-color);
    filter: drop-shadow(-0.15em 0.15em 0 var(--flatify__bg-color-dark));
  }

  .definition {
    display: block;
    line-height: 1.9;
    font-size: 0.9em;
    opacity: 0.85;
  }

  p {
    margin-bottom: 0;
  }

  .show-more {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    fill: var(--flatify__txt-color);
    background: transparent;
    border: none;
    outline: transparent;

    &:active,
    &:focus-visible {
      svg {
        transform: scale(0.75);
        opacity: 0.4;
      }
    }

    svg {
      width: 2em;
      height: 2em;
      opacity: 0.75;
      transition: all ease-out 0.1s;
    }
  }
}

.definition-title {
  text-transform: capitalize;
  line-height: 1.5;
  font-size: 1.125em;
  font-weight: 700;
  margin-right: 2em;
}

.definition-content {
  position: relative;
  overflow: hidden;
  max-height: 250em;
  will-change: max-height height;
  transition: max-height 1s ease-in-out;

  &.limited {
    max-height: 15em;

    &:after {
      content: " ";
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 3;
      width: 100%;
      height: 8em;
      background: linear-gradient(to top, var(--flatify__bg-color) 10%, transparent);
    }
  }
}

.marked-word {
  padding: 0 !important;
  border-radius: 0 !important;
}

@media screen and (max-width: 575px) {
  .definition-box {
    font-size: 0.9em;
  }
}
