.definition-box {
  position: relative;
  border: 0.18em solid var(--flatify__bg-color-dark);
  padding: 1em;
  margin: 1em 0;
  border-radius: 1em;

  &:before,
  &:after {
    content: " ";
    position: absolute;
  }

  &:before {
    top: 0.25em;
    right: -1em;
    z-index: 2;
    width: 3.45em;
    height: 1em;
    background: var(--flatify__bg-color);
    transform: rotate(45deg);
    filter: drop-shadow(0 0.15em 0 var(--flatify__bg-color-dark));
  }

  &:after {
    top: -0.25em;
    right: -0.25em;
    width: 0;
    height: 0;
    border-right: 2.5em solid var(--flatify__bg-color);
    border-bottom: 2.5em solid var(--flatify__bg-color);
    filter: drop-shadow(-0.15em 0.15em 0 var(--flatify__bg-color-dark));
  }

  .definition {
    display: block;
    line-height: 1.8;
    font-size: 0.9em;
    opacity: 0.85;
  }

  p {
    margin-bottom: 0;
  }
}

.definition-title {
  text-transform: capitalize;
  line-height: 1.5;
  font-size: 1.125em;
  font-weight: 700;
  padding-right: 2em;
}

.marked-word {
  padding: 0 !important;
  border-radius: 0 !important;
}

@media screen and (max-width: 575px) {
  .definition-box {
    font-size: 0.9em;
  }
}
