.intro-box {
  display: flex;
  justify-content: center;
  align-items: center;

  &.horizontal {
    flex-direction: column;

    .icon {
      width: auto;
      margin-bottom: 1em;

      svg {
        width: 12em;
        height: auto;
      }
    }

    .texts {
      text-align: center;
      padding: 0 1em;
    }
  }

  .icon {
    width: 30%;
    margin: 2em auto;

    svg {
      width: 15em;
      height: 15em;
    }
  }

  .texts {
    width: 100%;
    padding: 3em;
    animation: vajehh-rise 0.3s 0.1s both;
  }

  .title {
    font-weight: 900;
    font-size: 2.25em;
    margin-bottom: 0.32em;
  }

  .description {
    font-weight: 200;
    opacity: 0.75;
  }
}

.tabs-content {
  position: relative;

  .intro-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: max-content;
    margin: auto;
  }
}

@media screen and (max-width: 575px) {
  .intro-box {
    flex-direction: column;

    .icon {
      width: auto;

      svg {
        width: 8em;
        height: auto;
      }
    }

    .texts {
      font-size: 0.9em;
      text-align: center;
      padding: 0;
    }

    .title {
      font-size: 1.5em;
    }
  }
}

.anim-rise {
  animation: vajehh-rise 0.3s 0.1s backwards;
}

@keyframes vajehh-rise {
  0% {
    opacity: 0;
    transform: translateY(0.75em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
