.firefly {
  --vajehh__firefly-color: var(--flatify__color-accent-primary);
  --vajehh__firefly-delay: 0s;
  pointer-events: none;
  position: absolute;
  display: block;
  width: 8em;
  height: 8em;
  opacity: 1;

  &.animated {
    &:before {
      animation: firefly 5s var(--vajehh__firefly-delay) ease-in-out infinite;
    }
  }

  &:before,
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    background: var(--vajehh__firefly-color);
    border-radius: 50%;
    filter: blur(85px);
    will-change: opacity, filter;
  }

  &:after {
    background: var(--vajehh__image-letters-pattern);
    background-size: 100px;
    transform: scale(2.5);
  }
}

@keyframes firefly {
  0% {
    filter: blur(85px) opacity(100%);
  }
  50% {
    filter: blur(85px) opacity(40%);
  }
  100% {
    filter: blur(85px) opacity(100%);
  }
}
