.firefly {
  --vajehh__firefly-color: var(--flatify__color-accent-primary);
  pointer-events: none;
  position: absolute;
  display: block;
  width: 8em;
  height: 8em;
  opacity: 1;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    background: radial-gradient(50% 50% at 50% 50%, var(--vajehh__firefly-color), transparent);
    border-radius: 50%;
    will-change: opacity;
  }

  &:after {
    background: var(--vajehh__image-letters-pattern);
    background-size: 100px;
    transform: scale(2.5);
  }
}
