.result-tabs {
  overflow: visible;
  margin-top: 0.5em !important;

  .badge {
    font-feature-settings: "ss01";
  }
  .tabs-header {
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 1em 0;
  }

  .tabs-content {
    min-height: 50vh;
    padding: 1em 1.5em;
  }
}

// masonry grid using [react-masonry-css]
.result-grid {
  display: flex;
  margin-left: -1em;
  width: auto;
}

.result-grid-column {
  padding-left: 1em;
}
