.result-tabs {
  overflow: visible;
  margin-top: 0.5em !important;

  .badge {
    font-feature-settings: "ss01";
  }

  .tabs-header {
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 1em 1em 0 0;
  }

  .tabs-content {
    min-height: 50vh;
    padding: 1em 1.5em;
    border-radius: 1em;
  }
}

.tab-button-loading {
  padding: 0.7em 0.5em;

  .loading {
    font-size: 0.38em;
  }
}

.no-result {
  animation: flatify-fade-in 0.3s 0.2s both;
}

// masonry grid using [react-masonry-css]
.result-grid {
  display: flex;
  margin-left: -1em;
  width: auto;
}

.result-grid-column {
  padding-left: 1em;
}

.infinite-scroll-loading {
  margin: 2em auto;
}

@media screen and (max-width: 575px) {
  .tab-button {
    padding-right: 1em !important;
    padding-left: 1em !important;
  }
}
