#main-search-bar {
  --flatify__border-width: 0.15em;
  font-size: 1.25em;
}

.search-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 575px) {
    font-size: 0.9em;
  }

  .search-settings-left {
    display: flex;
  }
}
