.support-us {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 10em;

  @media (max-width: 767px) {
    padding-top: 5em;
  }

  .info {
    max-width: 36em;
    padding: 0 2em;
    margin: 1.5em auto;
  }
}
