.fake-defintion-box {
  .definition-title,
  .definition {
    user-select: none;
    color: transparent !important;
    background: var(--flatify__bg-color-darker) !important;
    border-radius: 0.5em;
  }

  .definition-title {
    animation: loading-flicker 1s ease infinite;
  }

  .definition {
    animation: loading-flicker 1.5s ease infinite;
  }
}

@keyframes loading-flicker {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.3;
  }
}
