.donate-info {
  height: fit-content;

  @media (min-width: 992px) {
    width: 40%;
    padding-left: 2em;
  }

  .heading {
    font-weight: 100;
    color: rgba(46, 64, 81, 0.4);

    .gradient-text {
      font-weight: 900;
    }
  }

  .donate-text {
    font-size: 1.1em;
    margin-bottom: 2em;
  }

  .input-with-button {
    margin-bottom: 0.5em;

    input {
      font-size: 1em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    button {
      font-size: 1em;
      padding: 0.85em 1.85em;
      margin: -0.2em -0.25em 0 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .icon-info-box {
    width: 100%;
    text-align: right;
    margin-bottom: 1em;
    border-radius: 1em;

    &:hover,
    &:focus {
      svg {
        transform: scale(0.85) rotate(8deg);
      }
    }

    .message-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .texts {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-size: 1.25em;
      }

      .description {
        font-family: monospace;
        font-size: 0.75em;
      }
    }

    svg {
      width: 3em;
      height: 3em;
      padding: 0.25em;
      margin-left: 0.75em;
      fill: currentColor;
      transition: all var(--flatify__simple-transition);
    }
  }
}
