.features {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--vajehh__area-padding);
  margin-top: 10em;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-top: 3em;

    .features-intro {
      text-align: center;
      width: 100%;
      margin-bottom: 3em;

      .subtitle {
        margin: 0 auto 1em;
      }

      .call-to-action {
        display: flex;
        justify-content: center;
      }
    }

    .features-items {
      width: 100%;
    }
  }
}

.features-intro {
  width: 50%;

  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 0.85em;
    width: 40%;
  }

  .info {
    // because of fireflies :)
    position: relative;
    z-index: 2;
  }

  .subtitle {
    max-width: 18em;
    margin: 1em 0 2em;
  }

  .button {
    &:first-of-type {
      margin-right: 0 !important;
    }
  }
}

.features-items {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1em;
  width: 50%;

  @media (max-width: 575px) {
    .feature-box {
      flex-basis: 100% !important;

      .icon {
        right: -0.5em;
      }
    }
    .message-box {
      margin: 0.5em;
    }
  }

  .feature-box {
    // because of fireflies :)
    position: relative;
    z-index: 2;
    margin-top: 3em;
    flex-basis: calc(50% - 0.5em);
  }

  .message-box {
    height: 100%;
  }

  .star {
    --vajehh__feature-box-icon-background: #62e002;
    --vajehh__feature-box-icon-border: #58cc02;
  }

  .quill {
    --vajehh__feature-box-icon-background: #ff6666;
    --vajehh__feature-box-icon-border: #ff3333;
  }

  .cursor {
    --vajehh__feature-box-icon-background: #ffa424;
    --vajehh__feature-box-icon-border: #ff9600;
  }

  .update {
    --vajehh__feature-box-icon-background: #cb7cff;
    --vajehh__feature-box-icon-border: #c164ff;
  }
}

.features-intro-right-firefly {
  right: 0;
  --vajehh__firefly-color: #62e002;
  opacity: 0.85;

  @media (max-width: 767px) {
    font-size: 1.5em;
    opacity: 1;
    --vajehh__firefly-color: #ff248a;
  }
}
.features-intro-left-firefly {
  left: 0;
  font-size: 2em;
  opacity: 0.75;
  --vajehh__firefly-delay: 1.5s;

  @media (min-width: 768px) {
    display: none;
  }
}

.features-items-center-firefly {
  top: 5em;
  right: -20%;
  font-size: 1.25em;
  opacity: 0.75;
  --vajehh__firefly-color: #d04d9d;
  --vajehh__firefly-delay: 1s;

  @media (max-width: 767px) {
    right: 0;
  }
}

.features-items-left-firefly {
  top: 8em;
  left: -20%;
  font-size: 1.5em;
  opacity: 0.75;
  --vajehh__firefly-color: #ff6666;
  --vajehh__firefly-delay: 2s;

  @media (max-width: 575px) {
    top: 12em;
    left: 0;
  }
}
