.features-wrapper {
  position: relative;
}

.features {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12em 6em 6em;

  @media (max-width: 991px) {
    padding: 12em 2em 6em;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    padding-top: 12em;

    .features-intro {
      text-align: center;
      width: 100%;
      margin-bottom: 3em;

      .subtitle {
        margin: 0 auto 1em;
      }

      .call-to-action {
        display: flex;
        justify-content: center;
      }
    }

    .features-items {
      width: 100%;
    }
  }
}

.features-intro {
  width: 50%;

  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 0.85em;
    width: 40%;
  }

  .info {
    // because of fireflies :)
    position: relative;
    z-index: 2;
  }

  .subtitle {
    max-width: 18em;
    margin: 1em 0 2em;
  }

  .button {
    &:first-of-type {
      margin-right: 0 !important;
    }
  }
}

.features-items {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1em;
  width: 50%;

  @media (max-width: 575px) {
    .feature-box {
      flex-basis: 100% !important;

      .icon {
        right: -0.5em;
      }
    }
    .message-box {
      margin: 0.5em;
    }
  }

  .feature-box {
    // because of fireflies :)
    position: relative;
    z-index: 2;
    margin-top: 3em;
    flex-basis: calc(50% - 0.5em);
  }

  .message-box {
    height: 100%;
  }

  .star {
    --vajehh__feature-box-icon-background: #62e002;
    --vajehh__feature-box-icon-border: #58cc02;
  }

  .quill {
    --vajehh__feature-box-icon-background: #ff6666;
    --vajehh__feature-box-icon-border: #ff3333;
  }

  .cursor {
    --vajehh__feature-box-icon-background: #ffa424;
    --vajehh__feature-box-icon-border: #ff9600;
  }

  .update {
    --vajehh__feature-box-icon-background: #cb7cff;
    --vajehh__feature-box-icon-border: #c164ff;
  }
}

.features-purple-firefly {
  bottom: 5%;
  left: 0;
  font-size: 2em;
  --vajehh__firefly-color: #d04d9d;
  opacity: 0.4;

  @media (max-width: 767px) {
    bottom: 15%;
    font-size: 3em;
    opacity: 0.3;
    --vajehh__firefly-color: #ff248a;
  }
}
.features-orange-firefly {
  left: 0;
  right: 10%;
  bottom: -5%;
  margin: auto;
  font-size: 2.5em;
  opacity: 0.3;
  --vajehh__firefly-color: #ffa424;

  @media (max-width: 767px) {
    top: 35%;
    bottom: unset;
  }
}

.features-green-firefly {
  right: 0;
  left: 10%;
  top: 10%;
  margin: auto;
  font-size: 3em;
  opacity: 0.2;
  --vajehh__firefly-color: #62e002;

  @media (max-width: 767px) {
    top: 0;
    right: -20%;
    --vajehh__firefly-color: #1cb0f6;
  }
}

.features-red-firefly {
  top: 20%;
  left: 5%;
  font-size: 1.5em;
  opacity: 0.5;
  --vajehh__firefly-color: #ff6666;

  @media (max-width: 575px) {
    top: 12em;
    left: 0;
  }
}
