.search-title {
  position: relative;
  display: inline-block;
  margin: 1em 0;

  .title {
      font-size: 4.5em;
      display: inline-block;
      margin-bottom: 0;
  }

  .subtitle {
    position: absolute;
    bottom: -0.25em;
    right: calc(100% - 0.5em);
    font-size: 0.9em;
    white-space: nowrap;
    opacity: 0.75;
  }
}
