.message-form {
  position: fixed;
  bottom: 0.5em;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 1em;
  margin: 0 auto;
  width: 620px;
  max-width: 100%;

  .message-input {
    width: 100%;
  }

  .send-button {
    height: 3.4em;

    svg {
      width: 1.75em;
      height: 1.75em;
      fill: currentColor;
    }
  }

  .loading {
    font-size: 0.64em;
  }
}

#wrapper-chat-settings {
  .conversation-types {
    .item-button {
      font-size: 0.75em;

      svg {
        width: 2.25em;
        height: 2.25em;
        fill: currentColor;
      }
    }
  }

  .dropdown-toggle {
    height: auto;
    height: 3.4em;

    svg {
      width: 2em;
      height: 1.5em;
      fill: currentColor;
    }
  }
}
