.settings-modal-toggle {
  svg {
    width: 1.25em;
    height: 1.25em;
    transition: all var(--flatify__bouncing-transition);
  }

  &.active {
    svg {
      transform: rotate(120deg);
    }
  }
}

.settings-modal {
  user-select: none;
  padding: 1.5em;
  width: 100%;
  max-width: 500px;

  .menu-item {
    &.heading {
      font-size: 1.1em;
      font-weight: 700;
      margin-bottom: 0.5em;
      opacity: 0.65;

      &:not(:first-child) {
        margin-top: 1.5em;
      }
    }
  }

  .toggle-wrapper {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
  }

  .settings-description {
    font-size: 0.85em;
    font-weight: 300;
    opacity: 0.65;
  }
}

.column-picker {
  margin-bottom: 0.5em;

  .item-button {
    padding: 0.25em 0.5em;
  }
  .item-icon svg {
    width: 2em;
    height: 2em;
  }
}

.disable-layer {
  pointer-events: none;
  opacity: 0.3;
}

.change-highlight-color {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.highlight-colors {
  flex-direction: row;
  justify-content: center;

  .item-button {
    --highlight-colors-bg: #696969;
    position: relative;
    width: 1.75em;
    height: 1.75em;
    margin: 0.25em;
    color: transparent !important;

    &:not(.active) {
      opacity: 0.75;
      transform: scale(0.75);
      filter: grayscale(25%);

      &:focus-visible {
        transform: scale(1.2);
      }
    }

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      background: var(--highlight-colors-bg);
      border-radius: 0.5em;
    }

    &.red {
      --highlight-colors-bg: var(--flatify__color-red-primary);
    }
    &.yellow {
      --highlight-colors-bg: var(--flatify__color-yellow-primary);
    }
    &.blue {
      --highlight-colors-bg: var(--flatify__color-blue-primary);
    }
    &.green {
      --highlight-colors-bg: var(--flatify__color-green-primary);
    }
    &.pink {
      --highlight-colors-bg: var(--flatify__color-pink-primary);
    }
    &.purple {
      --highlight-colors-bg: var(--flatify__color-purple-primary);
    }
  }
}
