.anim-rise {
  animation: vajehh-rise 0.3s 0.1s backwards;
}

@keyframes vajehh-rise {
  0% {
    opacity: 0;
    transform: translateY(0.75em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  @keyframes vajehh-rise {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.anim-sound-play {
  .first-wave {
    animation: scale-up-left 0.4s 0.4s ease-in-out;
  }
  .second-wave {
    animation: scale-up-left 0.5s 0.6s ease-in-out;
  }
}

@keyframes scale-up-left {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
