:root {
  background: var(--flatify__bg-color);

  &.nightmode {
    // lighter primary colors
    // @each $name, $colors in $PALETTE {
    //   $color: map-get($colors, "primary");
    //   --#{$CSS_VAR_PFX + 'color-' + $name + "-" + 'primary'}: #{tint($color, 15%)};
    // }

    // increase brightness
    --flatify__hover-brightness: 110%;

    // Background color
    --flatify__bg-color: #1e2a35 !important;
    --flatify__bg-color-dark: #2e4051 !important;
    --flatify__bg-color-darker: #456078 !important;
    --flatify__bg-color-darkest: #547492 !important;
    --flatify__color-light-light: #4e6c87 !important;
    --flatify__color-light-primary: #547492 !important;
    --flatify__color-light-dark: #5b7e9e !important;

    // Text color
    --flatify__txt-color: #f1f4f7;
    --flatify__txt-color-dark: #ced9e3;
    --flatify__txt-color-darker: #809cb6;
    --flatify__txt-color-inverted: #141f23;
    --flatify__color-dark-light: #f1f4f7;
    --flatify__color-dark-primary: #ced9e3;
    --flatify__color-dark-dark: #809cb6;

    // increase colors tint
    --flatify__color-accent-primary: #53c3f8;
    --flatify__color-blue-primary: #53c3f8;
    --flatify__color-success-primary: #62e002;
    --flatify__color-green-primary: #62e002;
    --flatify__color-red-primary: #ff5959;
    --flatify__color-danger-primary: #ff5959;
    --flatify__color-warning-primary: #ffa424;
    --flatify__color-orange-primary: #ffa424;
    --flatify__color-yellow-primary: #ffe224;
    --flatify__color-purple-primary: #c671ff;

    .footer-fireflies {
      opacity: 0.75;
    }

    .firefly::after {
      opacity: 0.3;
      filter: invert(0.8) brightness(80%);
      mix-blend-mode: darken;
    }

    .backdrop-layer {
      background: var(--flatify__bg-color);
    }
  }
}
