.rotated-box {
  position: relative;
  background: var(--flatify__bg-color-dark);
  border-radius: 4em;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--flatify__color-accent-primary);
    border-radius: inherit;
    transform: rotate(-8deg);
  }
}
