// these are used for svg icons
.nightmode {
  .fill-bg-color-dark {
    fill: var(--flatify__bg-color-dark);
  }
  .stroke-txt-color {
    stroke: var(--flatify__txt-color);
  }
  .force-stroke-txt-color * {
    stroke: var(--flatify__txt-color) !important;
  }
}

.main-container {
  max-width: 1366px;
  margin: 0 auto;
}

.reduce-brightness {
  filter: brightness(85%) !important;
}

.gradient-text {
  --vajehh-shadow-color: rgba(31, 162, 255, 0.25);
  --vajehh-text-color: linear-gradient(45deg, #a6ffcb, #12d8fa, #1fa2ff);
  color: transparent;
  background: var(--vajehh-text-color);
  background-clip: text;
  text-shadow: 0 0.05em 0.1em var(--vajehh-shadow-color);
  -webkit-text-fill-color: transparent;
}

// text align
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// Delay animation items by order
.anim-delay-items {
  @for $i from 1 through 20 {
    .anim-delay:nth-of-type(#{$i}) {
      animation-delay: #{100 * $i}ms;
    }
  }
}
