.nightmode {
  .fill-bg-color-dark {
    fill: var(--flatify__bg-color-dark);
  }
  .stroke-txt-color {
    stroke: var(--flatify__txt-color);
  }
  .force-stroke-txt-color * {
    stroke: var(--flatify__txt-color) !important;
  }
}

.main-container {
  max-width: 1366px;
  margin: 0 auto;
}

.reduce-brightness {
  filter: brightness(85%) !important;
}
