.bubble {
  position: relative;
  width: 520px;
  max-width: calc(100% - 1.5em);
  padding: 2.5em 1em 1em;
  margin: 4em 0;
  background: var(--flatify__bg-color-dark);
  border-radius: 1.25em;

  &.question {
    margin-left: auto;
    margin-right: 1.5em;
    background: var(--flatify__bg-color-darker);

    .avatar {
      right: -1.5em;
    }

    .date-time {
      right: 2.5em;
    }
  }

  &.answer {
    margin-right: auto;
    margin-left: 1.5em;

    .avatar {
      left: -1.5em;
    }

    .date-time {
      right: 1.25em;
    }
  }

  .avatar {
    position: absolute;
    top: -1em;
    width: 3em;
    border: 0.25em solid var(--flatify__bg-color-darker);
    border-radius: 1em;
  }

  .date-time {
    position: absolute;
    top: 1em;
    font-size: 0.85em;
    opacity: 0.75;
  }

  pre {
    padding: 0.18em;
    border: none;
  }
}
